@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 90px;
  width: auto;
  background: #F55A5A;
  margin-top: -1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.world-img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.header-text {
  color: #fff;
  /* padding: 10px 10px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
}


.img-header {
  height: 20px;
}

/* main section */


.main-content {
  /* display: flex;
  flex-direction: row; */
  margin: 40px 40px 40px 40px;
}

.container {
  width: 450px;
  height: 180px;
  /* background-color: #F55A5A; */
  display: flex;
  flex-direction: row;
}

.image-card {
  height: 180px;
  width: 130px;
  border-radius: 5px;
  margin-right: 8px;
  object-fit: cover;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 330px;
  margin-top: 5%;

}

.maps-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: 2px;
}

.map-logo {
  height: 15px;
}

.card-inner-content {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 320px;
}

.span-spacing {
  margin-left: 5px;
  margin-right: 5px;
}

.location {
  text-decoration: underline;
  font-weight: 400;
  color: #918E9B;
}

.place {
  margin-top: 0px;
  font-size: 22px;
}

.maps-content {
  font-size: 12px;
}

.date-content {
  font-size: 10px;
  font-weight: 700;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2B283A;

}

@media screen and (min-width: 768px) {
  .cards-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .container {
    width: 25vw;
    height: 40vh;
  }
}

/* 
@media screen and (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
} */